---
import Card from "./Card.astro";
const { title, url, description, pubDate, tags } = Astro.props;
const formattedDate = new Date(pubDate).toLocaleDateString("en-US", {
  year: "numeric",
  month: "short",
  day: "numeric",
});
---

<article>
  <a href={url} class="block">
    <Card class="hover:border-[var(--color-accent)]">
      <div class="flex items-start justify-between mb-3">
        <h3
          class="text-xl text-[var(--color-heading)] transition-colors font-['Bodoni_Moda']"
        >
          {title}
        </h3>
        <time class="text-sm text-[var(--color-text)] whitespace-nowrap ml-4 font-['Bodoni_Moda']">
          {formattedDate}
        </time>
      </div>
      <p class="text-[var(--color-text)] mb-4 leading-relaxed">{description}</p>
      {
        tags && (
          <div class="flex flex-wrap gap-2">
            {tags.map((tag: string) => (
              <span class="text-xs px-3 py-1 border border-[var(--color-border)] text-[var(--color-text)] font-['Bodoni_Moda']">
                #{tag}
              </span>
            ))}
          </div>
        )
      }
    </Card>
  </a>
</article>
